<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <h1>Test Token</h1>

    <h2>Algunas vistas para evitar el postman</h2>

    <p>Acceder</p>
    <a href="/login" type="button">Login</a>

    <p>Agregar Usuario</p>
    <a href="/user" type="button">Agregar Usuario</a>
</body>
</html>