<% include commons/header; %>
<div class="card">
    <div class="card-body mx-auto">
        <h1 class="card-title">Test Token</h1>
        <h2 class="card-text">Algunas vistas para evitar el postman</h2>
        <hr>
        <div class="row">
            <div class="col-6">
                <p class="card-text">Acceder</p>
                <a href="/login" type="button" class="btn btn-info">Login</a>

            </div>
            <div class="col-6">
                <p class="card-text">Agregar Usuario</p>
                <a href="/user" type="button" class="btn btn-info">Agregar Usuario</a>

            </div>
        </div>
    </div>
</div>

<% include commons/footer; %>