<% include commons/header %>
    <h1>Estamos en el login</h1>
    <hr>
    <form action="/login" method="post" id="formLogin">
        <div class="form-group">
            <label for="username">Nick</label>
            <input type="text" class="form-control" placeholder="Nick..." name="username" id="username" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" placeholder="Password..." name="password" id="password" required>
        </div>
        <button type="submit" id="btnLogin" class="btn btn-success">Acceder</button>

    </form>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/main.js"></script>
</body>

</html>